body {
  background-color: 235,235,235,1;
  font-family: 'Inter', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  overflow-wrap: break-word;

}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80vw;
}


.search {
  input {
    background: #FFFFFF;
    background-image: url('./icon.svg');
    background-repeat: no-repeat;
    background-position: 30px center;
    border: 4px solid #D8D8D8;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    font-size: 64px;
    font-weight: 400;
    margin-top: 75px;
    padding: 33px 110px 33px;
    width: 100%;
    &::placeholder{
      color: #EBEBEB;
    }
  }
}

.sorting {
  margin-top: 22px;
  button {
    background-color: #EEEEEE;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
    padding: 8px 14px;
    transition: 0.3s;
    &:hover {
      color: #EEEEEE;
      background-color: #000000;
    }
  }
}

.results {
  margin-top: 60px;
  .rainbow {
    background: linear-gradient(to right, rgb(118, 230, 80) , rgb(249, 214, 73), rgb(240, 142, 53), rgb(236, 81, 87), rgb(255, 24, 189), rgb(26, 75, 255), rgb(98, 216, 249));
    background-clip: text;
    cursor: pointer;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -4px;
    padding: 16px 0 18px;
    overflow-wrap: anywhere;
    text-align: left;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
    &:hover {
      letter-spacing: -3px;
    }
  }
}