.modal {
  background: #FFFFFF;
  border-radius: 40px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
  margin: 75px auto auto;
  max-width: 400px;
  position: relative;
  padding: 36px 34px 50px;
  z-index: 100;
  &-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1040;
    width: 100vw;
  }
  &-wrapper {
    left: 0;
    height: 100%;
    outline: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    top: 0;
    z-index: 1050;
  }
  &-header {
    display: flex;
    justify-content: flex-end;
  }
  &-close-button {
    color: #999999;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    line-height: 1;
  }
  &-body {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    min-height: 200px;
    text-align: center;
  }
}